absl-py
addict
bounded-pool-executor
cachetools
certifi
charset-normalizer
contourpy
cycler
einops
et-xmlfile
facexlib
filelock
filterpy
fonttools
fsspec
ftfy
future
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
imageio
imgaug
importlib-metadata
Jinja2
kiwisolver
lazy_loader
llvmlite
lmdb
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numba
numpy
oauthlib
openai-clip
opencv-python
openpyxl
packaging
pandas
pillow
pillow-heif
platformdirs
pqdm
protobuf
pyasn1
pyasn1-modules
Pygments
pyiqa
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rich
rsa
safetensors
scikit-image
scipy
shapely
six
sympy
tensorboard
tensorboard-data-server
tifffile
timm
tomli
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
yapf
zipp